.additional-items__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 38px;
  }
}

.additional-items__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-items__item {
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 38px;
  }
}

.additional-items__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

.additional-items__wrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 280px; /* для лучшего восприятия на данный момент */
}

.additional-items__amount,
.additional-items__price {
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-items__button {
  @media (min-width: $tablet-width) {
    grid-area: 2 / 1 / 3 / 3;
  }
}
