.page-catalog {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.catalog__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__item {
  margin-bottom: 33px;
}

.catalog__image {
  margin: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.catalog__item-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  width: 80px;

  @media (min-width: $tablet-width) {
    width: 120px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
  }
}

.catalog__description-list {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.catalog__parameter,
.catalog__value {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.catalog__parameter {
  float: left;
  clear: left;
  margin-right: 5px;
}

.catalog__value {
  margin-left: 0px;
  text-align: right;
}

.button__order {
  text-decoration: none;
  color: $white;
  background: $green-base;
  display: block;
  min-width: 240px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;

  &:hover {
    background: $green-hover;
  }

  &:active span {
    opacity: 0.3;
  }

  &--text {
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 44px;
  }
}

.catalog__button {
  margin: 0 auto;
}

.catalog__add-info {
  margin-top: 3px;
  margin-bottom: 48px;
  min-width: 280px;
}

.catalog__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $special-black;
  margin-top: 53px;
  margin-bottom: 8px;
}

.catalog__subtext {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.catalog__show-more-button {
  text-decoration: none;
  background: $basic-grey;
  display: block;
  width: 280px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  &:hover,
  &:active {
    background: $show-more-hover;
  }

  &:active span {
    opacity: 0.3;
  }

  &--text {
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 44px;
    color: $special-dark-grey;
  }
}

.contacts--catalog {
  background-color: $basic-grey;
}
