.contacts {
  margin-top: 26px;
  position: relative;
  min-width: 280px;

  &--catalog {
    background-color: $basic-grey;
    padding-top: 26px;

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 26px;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 62px 70px 55px;
    margin-bottom: 0;

    &--inner {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $white;
    padding: 56px 80px;
    top: 95px;
    left: 110px;
    margin-bottom: 0;
  }
}

.contacts__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  margin: 0;
  margin-top: 1px;

  @media (min-width: $tablet-width) {
    width: 175px;
    text-align: left;
    font-size: 20px;
    line-height: 26px;
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    margin-left: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 48px;
    width: 155px;
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
    display: block;
  }
}

.contacts__map {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 410px;
  }
}
