.contacts {
  margin-top: 26px;
  position: relative;
  min-width: 280px;

  &--catalog {
    background-color: $basic-grey;
    padding-top: 26px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 26px;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 55px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $white;
    padding: 56px 80px;
    /* временно выставлю границы и позиционирование */
    top: 20px;
    left: 20px;
    outline: 1px solid $green-base;
  }
}

.contacts__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 175px;
    text-align: left;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    margin-left: 150px;
  }
}

.contacts__map {
  display: block;
  border: none;
}
