.live-example {
  background-color: $live-example-back;
  padding-bottom: 45px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 248px 165px 1fr;
    background: linear-gradient(to bottom, $white 30%, $live-example-back 30%, $live-example-back 70%);
  }
}

.live-example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 42px;
  margin-bottom: 40px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
  }
}

.live-example__text {
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    margin-bottom: 54px;
  }
}

.live-example__list {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 55px;
    justify-content: start;
  }
}

.live-example__item {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
    width: 162px;

    &:last-child {
      margin-right: 0;
      margin-left: -32px;
    }
  }
}

.live-example__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
  margin-bottom: 8px;
  padding: 15px 20px;
  border: 1px solid $toggle-border;
  box-sizing: border-box;
  border-radius: 3px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__description {
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: $special-dark-grey;
  position: absolute;
  background-color: $live-example-back;
  top: 46px;
  margin: 0 auto;
  left: 18px;
  right: 18px;
  width: 87px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    background-color: $white;
    top: 63px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $live-example-back;
  }
}

.live-example__costs-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 75px;
  }
}

.live-example__costs {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin: 0 auto;
  display: block;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    text-align: right;
    margin-top: 11px;

    &--value {
      margin-top: 10px;
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 0;

    br {
      display: none;
    }

    &--value {
      margin-top: -20px;
      margin-left: 237px;
    }
  }
}

.compare-cats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    background: linear-gradient(to bottom, $white 30%, $live-example-back 30%, $live-example-back 70%);
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    grid-area: 1 / 2 / 4 / 3;
    padding-bottom: 50px;
    padding-left: 160px;
  }
}

.compare-cats__image {
  margin-bottom: 15px;
  display: block;
  margin-left: -32px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 25px;
    width: 592px;
    height: 511px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 4 / 3;
    margin-bottom: 37px;
  }
}

.compare-cats__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin-top: 5px;
  margin-left: 9px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.compare-cats_toggle-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-right: 66px;
    margin-left: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 3 / 2 / 4 / 3;
    margin-right: 49px;
    margin-left: 49px;
    margin-top: -8px;
  }
}

/*button toggle */
.compare-cats__toggle--background {
  border: 1px solid $toggle-border;
  box-sizing: border-box;
  border-radius: 6px;
  width: 85px;
  height: 14px;
  background-color: $white;
  position: relative;
  margin-top: 7px;
  margin-left: 7px;


  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background-color: $toggle-border-tablet;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.compare-cats__toggle {
  display: block;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 6px;
  width: 36px;
  height: 6px;
  background-color: #68b738;
  margin: 8px 25px;
  position: absolute;
  left: -19px;
  top: -4px;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border: 1px solid $toggle-border;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $white;
    left: 192px;
    top: -13px;
    color: $green-base;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &::before {
      content: "";
      border: 1px solid $green-base;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: $green-base;
      width: 8px;
      height: 8px;
      margin-left: 12px;
      display: block;
    }

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      border-color: $green-base;
    }
  }
}
