.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.page-footer__link {
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 29px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 58px 0;
  }
}

.page-footer__logo {
  fill: $special-black;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 20px;
  margin-bottom: 20px;
  position: relative;
  border-top: 2px solid $programs-border;
  border-bottom: 2px solid $programs-border;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
    min-width: 130px;
    border: none;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 35px;

    @media (max-width: $tablet-width) {
      margin-right: 25px;
    }
  }
}

.social__link svg {
  fill: $social-links;

  &:hover {
    fill: $green-base;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
    margin-top: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.page-footer__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  margin-top: 5px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.page-footer__copyright-link svg {
  fill: $social-links;

  &:hover {
    fill: $green-base;
  }

  &:active {
    opacity: 0.3;
  }
}
