.page-header {
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 110px;
    padding-right: 110px;
    background: linear-gradient(to right, $white 50%, $green-back 50%);

    &--inner {
      background: $white;
    }
  }
}

.page-header__back-image {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
  }
}

.page-header__top-menu {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &--inner {
      background-color: $white;
      margin-bottom: 78px;
    }
  }
}

.page-header__top-menu-wrapper {
  display: flex;
}

.page-header__logo {
  margin: 10px 56px 18px 20px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 183px;
    margin-top: 22px;
    margin-bottom: 0;
    margin-left: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    margin-top: 53px;
  }
}

.page-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 171px;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-mobile-add {
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
