.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.page-footer__link {
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 52px;
}

.social__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
  }
}

.page-footer__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
}
