.page-programs {
  border-top: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    position: relative;
    border-top: none;
  }
}

.programs-inner {
  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.programs-inner__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;
  color: $black;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-top: 2px;
    margin-left: 69px;
    margin-right: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 56px;
  }
}

.programs-inner__text {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    width: 60%;
    margin-left: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }
}

.programs-inner__form--desktop-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin-bottom: 63px;
  }
}

.programs-inner__form--basic-fields-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
    padding-bottom: 0;
    margin-bottom: 72px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 0;
  }
}

.programs-inner__form-wrapper {
  display: flex;
  margin-bottom: 13px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.programs-inner__form-wrapper--contacts {
  display: flex;
  margin-bottom: 13px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    margin-right: 20px;
    width: 22px;
    height: 17px;
    background-color: $white;
    background-image: url("../img/programs-inner/icon_email.svg");
    background-repeat: no-repeat;
    z-index: 3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
  }
}

.programs-inner__form-wrapper--contacts-phone::before {
  height: 21px;
  background-image: url("../img/programs-inner/phone.svg");
}

.programs-inner__form-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: auto 0;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;
  }
}

.programs-inner__form-field {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $form-border;
  box-sizing: border-box;
  height: 45px;
  padding: 13px 15px;
  width: 100%;
  position: relative;

  &::-webkit-input-placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;
  }

  &:hover {
    border: 1px solid $toggle-border;
  }

  &:active {
    border: 2px solid $special-dark-grey;
  }

  &:invalid {
    border: 2px solid $invalid-form;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 10px 19px;

    &::-webkit-input-placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.programs-inner__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  padding-bottom: 19px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $programs-border;
  box-sizing: border-box;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 71px;
    margin-right: 67px;
    margin-bottom: 66px;
    border: 1px solid $form-border;
    padding-top: 30px;
    padding-left: 27px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 30px;
  }
}

.programs-inner__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.programs-inner__item-label {
  position: relative;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 61px;
  }
}

.programs-inner__item-mark {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 30px;
  height: 30px;
  background: $white;
  border: 1px solid $toggle-border;
  box-sizing: border-box;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    bottom: -8px;
  }
}

.programs-inner__item-label:hover .programs-inner__item-mark {
  border-color: $radiobutton-hover;
}

.programs-inner__item-input:disabled + .programs-inner__item-mark + .programs-inner__item-text {
  opacity: 0.3;
}

.programs-inner__item-input[type="radio"]:checked + .programs-inner__item-mark::before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 14px;
  height: 14px;
  background-color: $green-base;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

.programs-inner__item-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs-inner__contacts {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
  margin-left: 18px;
  margin-right: 20px;
  border: none;
  position: relative;

  &-subtitle {
    margin-bottom: 35px;
  }

  &::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: $green-base;
    position: absolute;
    right: -20px;
    top: -72px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 45px;
    padding-left: 69px;
    padding-right: 66px;

    br {
      display: none;
    }

    &-subtitle {
      margin-bottom: 76px;
    }

    &::before {
      content: "";
      width: 30px;
      height: 2px;
      background-color: $green-base;
      position: absolute;
      left: -0;
      top: -90px;
    }

    &::after {
      width: 145px;
      right: 0;
      top: -90px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 0;

    &::before {
      content: "";
      width: 70px;
      height: 2px;
      background-color: $green-base;
      position: absolute;
      left: -110px;
      top: -90px;
    }

    &::after {
      width: 778px;
      right: -110px;
      top: -90px;
    }
  }
}

.programs-inner__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-inner__comment {
  margin-bottom: 34px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  border: none;
  position: relative;

  &-subtitle {
    margin-bottom: 37px;
  }

  &::after {
    content: "";
    width: 158px;
    height: 2px;
    background-color: $green-base;
    position: absolute;
    right: -20px;
    top: -48px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 69px;
    padding-right: 69px;
    margin-bottom: 99px;

    &::before {
      content: "";
      width: 30px;
      height: 2px;
      background-color: $green-base;
      position: absolute;
      left: 0;
      top: -90px;
    }

    &::after {
      width: 478px;
      right: 0;
      top: -90px;
    }

    &-subtitle {
      margin-bottom: 76px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;

    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      width: 1108px;
      right: -110px;
    }
  }
}

.programs-inner__form-textarea {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  padding: 10px 0 0 15px;
  border: 1px solid $form-border;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 10px 0 0 19px;
  }
}

.programs-inner__add-info {
  margin-bottom: 17px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  position: relative;
  padding: 0;

  &::after {
    content: "";
    width: 136px;
    height: 2px;
    background-color: $green-base;
    position: absolute;
    right: -20px;
    top: -11px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 69px;
    padding-right: 9px;

    &-subtitle {
      margin-bottom: 57px;
    }

    &::before {
      content: "";
      width: 30px;
      height: 2px;
      background-color: $green-base;
      position: absolute;
      left: 0;
      top: -70px;
    }

    &::after {
      width: 446px;
      right: 0;
      top: -70px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;

    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      width: 1078px;
      right: -110px;
    }
  }
}

.programs-inner__add-info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 325px 323px 329px 260px;
    margin-bottom: 29px;
  }
}

.programs-inner__add-info-item {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    padding-top: 5px;
  }
}

.programs-inner__add-info-label {
  padding-left: 44px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
  }
}

.programs-inner__add-info-mark {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 30px;
  height: 30px;
  background: $white;
  border: 1px solid $toggle-border;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.programs-inner__add-info-label:hover .programs-inner__add-info-mark {
  border-color: $radiobutton-hover;
}

.programs-inner__add-info-input:disabled + .programs-inner__add-info-mark + .programs-inner__add-info-text {
  opacity: 0.3;
}

.programs-inner__add-info-input[type="checkbox"]:checked + .programs-inner__add-info-mark::before {
  content: "";
  position: absolute;
  color: $green-base;
  top: 6px;
  left: 6px;
  width: 18px;
  height: 14px;
  background-color: $white;
  background-image: url("../img/programs-inner/tick_mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 11px;
    left: 8px;
    width: 24px;
    height: 18px;
    background-image: url("../img/programs-inner/tick_tablet.svg");
  }
}

.programs-inner__add-info-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs-inner__content-text {
  margin: 0 auto;
  line-height: 16px;
  color: $black;
  margin-bottom: 32px;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 54%;
    top: 98%;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    left: 52.5%;
    top: 97.5%;
  }
}

.programs-inner__form-submit {
  margin-bottom: 21px;
  width: auto;
  min-width: 280px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    height: 52px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;
    width: 46.5%;
    margin-bottom: 82px;
  }
}

.button__order--text {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0px;
  }
}
