.page-programs {
  border-top: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.programs-inner__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;
  color: $black;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.programs-inner__text {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  margin-left: 20px;
  margin-right: 74px;
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
  }
}

.programs-inner__form--desktop-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}

.programs-inner__form--basic-fields-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $programs-border;

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.programs-inner__form-wrapper {
  display: flex;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.programs-inner__form-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: auto 0;
  margin-right: 13px;
}

.programs-inner__form-field {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $form-border;
  box-sizing: border-box;
  height: 45px;
  padding: 13px 15px;
  width: 100%;

  &::-webkit-input-placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;
  }
}

.programs-inner__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  padding-bottom: 19px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $programs-border;
  box-sizing: border-box;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.programs-inner__item {
  margin-bottom: 13px;
}

.programs-inner__item-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.programs-inner__contacts {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  position: relative;

  &::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: $green-base;
    position: absolute;
    right: -20px;
    top: -72px;
  }
}

.programs-inner__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.programs-inner__comment {
  margin-bottom: 23px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  border: none;
  position: relative;

  &::after {
    content: "";
    width: 158px;
    height: 2px;
    background-color: $green-base;
    position: absolute;
    right: -20px;
    top: -48px;
  }
}

.programs-inner__form-textarea {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  padding: 10px 0 0 15px;
}

.programs-inner__add-info {
  margin-bottom: 34px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  position: relative;
  padding: 0;

  &::after {
    content: "";
    width: 136px;
    height: 2px;
    background-color: $green-base;
    position: absolute;
    right: -20px;
    top: -11px;
  }
}

.programs-inner__add-info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.programs-inner__add-info-item {
  margin-bottom: 20px;
}

.programs-inner__add-info-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

.programs-inner__content-text {
  margin: 0 auto;
  line-height: 16px;
  color: $black;
  margin-bottom: 32px;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 51%;
    top: 97%;
  }
}

.programs-inner__form-submit {
  margin-bottom: 21px;
  width: auto;
  min-width: 280px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 45%;
  }
}

.programs-inner__comment-subtitle {
  margin-bottom: 37px;
}

.programs-inner__contacts-subtitle {
  margin-bottom: 35px;
}
