$special-dark-grey: #444444;

.programs {
  margin-bottom: 20px;
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.programs__title--wrapper {
  display: flex;
  margin: 0 auto;
  margin-bottom: 22px;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 19px;
}

.programs__description {
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-bottom: 18px;
}
