.programs-inner__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 39px;
}

.programs-inner__text {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.programs-inner__form-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

.programs-inner__form-field {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  height: 45px;
  padding: 13px 15px;
}

.programs-inner__form-field::-webkit-input-placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.programs-inner__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 45px;
}

.programs-inner__item {
  margin-bottom: 13px;
}

.programs-inner__item-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.programs-inner__contacts {
  margin-bottom: 24px;
}

.programs-inner__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.programs-inner__comment {
  margin-bottom: 23px;
}

.programs-inner__add-info {
  margin-bottom: 34px;
}

.programs-inner__add-info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 34px;
}

.programs-inner__add-info-item {
  margin-bottom: 20px;
}

.programs-inner__add-info-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.programs-inner__content-text {
  line-height: 16px;
  color: #000000;
  margin-bottom: 32px;
}

.programs-inner__form-submit {
  margin-bottom: 21px;
}

.programs-inner__comment-subtitle {
  margin-bottom: 37px;
}

.programs-inner__contacts-subtitle {
  margin-bottom: 35px;
}
