.programs {
  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 72px;
  }
}

.programs__item {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: $basic-grey;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 53px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 41px 51px 55px 52px;
  }
}

.programs__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.programs__image-wrapper {
  height: 50px;
  width: 50px;
  background-color: $green-base;
  border-radius: 50%;
  position: relative;
  margin-right: 16px;
  margin-top: 3px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: -7px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 6px;
    margin-right: 63px;
    right: 1px;
  }
}

.programs__image {
  position: absolute;
  left: -9px;
  top: 14px;

  @media (min-width: $tablet-width) {
    top: 45px;
    left: -36px;
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    top: 18px;
    left: -18px;
    width: 134px;
    height: 56px;
  }
}

.programs__image--slim {
  position: absolute;
  left: 8px;
  top: 0;

  @media (min-width: $tablet-width) {
    top: -11px;
    left: 30px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: 14px;
    width: 70px;
    height: 97px;
  }
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 4px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 18px;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 36px;
    max-width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 36px;
  }
}

.programs__description {
  line-height: 18px;
  color: $special-dark-grey;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 17px;
  margin-right: 13px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 2px solid $programs-border;

  @media (min-width: $tablet-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 6px;
    width: auto;
  }
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: $black;
  grid-area: 3 / 1 / 4 / 3;

  &:hover svg {
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 9px;
  }
}

.programs__link-arrow {
  margin-left: 11px;
  fill: $black;

  @media (min-width: $tablet-width) {
    margin-left: 21px;
    fill: $black;
  }
}
