.promotion {
  margin-top: 23px;
  margin-bottom: 35px;
}

.promotion__wrapper {
  background: linear-gradient(to bottom, $green-back 64%, $green-back 36%),
    url("../img/additional-items/promotion-phone.png");
  background-repeat: no-repeat;
  background-position-x: center;
  min-width: 280px;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(to bottom, $green-back 64%, $green-back 36%),
      url("../img/additional-items/promotion-phone@2x.png");
    background-size: 280px auto;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 76px;
    height: 200px;
    background: linear-gradient(to bottom, $green-back 64%, $green-back 36%),
      url("../img/additional-items/promotion-tablet.png");
    background-repeat: no-repeat;
    background-position-x: center;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to bottom, $green-back 64%, $green-back 36%),
        url("../img/additional-items/promotion-tablet@2x.png");
      background-size: 707px auto;
      background-repeat: no-repeat;
      background-position-x: center;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    height: auto;
    margin-bottom: 0;
    margin-left: -96px;
    background: linear-gradient(to bottom, $green-back 64%, $green-back 36%),
      url("../img/additional-items/promotion-desktop.png");
    background-repeat: no-repeat;
    background-size: 245px auto;
    background-position-x: center;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to bottom, $green-back 64%, $green-back 36%),
        url("../img/additional-items/promotion-desktop@2x.png");
      background-size: 245px auto;
      background-repeat: no-repeat;
      background-position-x: center;
    }
  }
}

.promotion__image {
  margin: 0 auto;
  padding-top: 59px;
  margin-bottom: 48px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-left: 77px;
    margin-right: 265px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 46px;
  }
}

.promotion__text {
  color: $white;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 58px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
    width: 160px;
    padding-left: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}
