.promo {
  background: linear-gradient(to bottom, $green-back 64%, $white 64%, $white 36%);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background: $white;
  }

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 82px;
  }
}

.promo__title {
  color: $white;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-bottom: 41px;
    text-align: left;
    padding: 0;
  }
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    width: 420px;
    margin-bottom: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  margin: 0 auto;
  padding: 0;
  display: block;
  margin-bottom: 3px;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 40%;
    top: 10%;
  }
}

.promo__link {
  text-decoration: none;
  color: $white;
  background: $green-base;
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  border: none;

  &:hover {
    background: $green-hover;
  }

  &:active span {
    opacity: 0.3;
  }

  &--text {
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 44px;
  }

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    position: absolute;
    top: 215px;

    &--text {
      padding: 18px 44px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 247px;
    position: static;
  }
}
