.promotion {
  margin-top: 23px;
  margin-bottom: 35px;
}

.promotion__wrapper {
  background-color: $green-back;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.promotion__image {
  margin: 0 auto;
  padding-top: 59px;
  margin-bottom: 48px;
  display: block;
}

.promotion__text {
  color: $white;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 58px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
  }
}
