.promotion {
  margin-top: 23px;
  margin-bottom: 35px;
}

.promotion__wrapper {
  background-color: $green-back;
}

.promotion__image {
  margin-top: 59px;
  margin-bottom: 48px;
}

.promotion__text {
  color: $white;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
  font-size: 16px;
  line-height: 20px;
}
