.promo {
  background-color: rgba(104, 183, 56, 0.85);
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 64%,#ffffff 64%, #ffffff 36%);
  margin-bottom: 20px;
}

.promo__title {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 29px;
}

.promo__image {
  margin: 0 auto;
  padding: 0;
  display: block;
  margin-bottom: 3px;
}

.promo__link {
  text-decoration: none;
  color: #ffffff;
  background: #68B738;
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;

  &:hover {
    background: #5eaa2f;
  }
  
  &:active span{
    opacity: 0.3;
  }
}

.promo__link--text{
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 44px;
}
