// Colors
$black: #000000;
$white: #ffffff;
$green-base: #68b738;
$green-hover: #5eaa2f;
$green-back: rgba(104, 183, 56, 0.85);
$special-dark-grey: #444444;
$basic-grey: #f2f2f2;
$live-example-back: #eaeaea;
$special-black: #111111;
$special-dark-grey-2: #222222;
$show-more-hover: #ebebeb;
$form-border: #e7e7e7;
$navigation-border: #e6e6e6;
$programs-border: #d9d9d9;
$toggle-border: #cdcdcd;
$toggle-border-tablet: #dcdcdc;
$social-links: #666666;
$show-more-plus: #d3d3d3;
$black-hover: rgba(0, 0, 0, 0.6);
$black-active: rgba(0, 0, 0, 0.3);
$white-hover: rgba(255, 255, 255, 0.6);
$white-active: rgba(255, 255, 255, 0.3);


// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// imports
@import "page-header.scss";
@import "main-nav.scss";
@import "promo.scss";
@import "programs.scss";
@import "how-it-works.scss";
@import "live-example.scss";
@import "contacts.scss";
@import "page-footer.scss";
@import "catalog.scss";
@import "additional-items.scss";
@import "promotion.scss";
@import "programs-inner.scss";

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2");
  font-display: swap;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
